// queries
$desktop: 856px;
$tablet: 768px;
$mobile: 480px;

// styles
$primary: #ff6464;
$primary-2: #e15a5a;
$secondary: #00a8cc;
$secondary-2: #0089a9;
$light-dimmed: #8695a4;
$light: #edf7fa;

$transition-default: .2s;
$border: 1px solid;

$border-radius-default: 2px;
$shadow-default: 0 2px 6px 0 rgb(0 0 0 / 20%);
