@use "@/app/(styles)/vars" as *;

.primary, .secondary {
  color: #ffffff;

  &:hover {
    color: #ffffff;
  }
}

.big {
  font-size: 1.25rem;
  font-weight: 600;
  padding: .9rem 1.25rem;
}

.small {
  font-size: .9rem;
  font-weight: 400;
  padding: .3rem .9rem;
}

.primary {
  background-color: $primary;

  &:hover {
    background-color: $primary-2;
  }
}

.secondary {
  background-color: $secondary;

  &:hover {
    background-color: $secondary-2;
  }
}

.link {
  font-weight: 600;
  padding: 0;

  &:hover {
    color: $primary-2;
  }
}
